{% extends 'topic.html' %}
{% block content %}
    {% load static %}
    <script src="{% static "english/js/sound.js?q=1" %}"></script>
    <script src="{% static "english/js/irregular.js?q=1" %}"></script>
    <div align="center"><b>{{ title }}</b></div>
    <style type="text/css">
        .ctl {
            display: inline-block;
            font-size: small;
            font-weight: bold;
            color: darkslategray;
        }
        .paddingBetweenRows td
        {
            padding:0 5px 0 5px;
            border-left: thin solid grey ;
            border-top: thin solid grey ;
        }
        .content table
        {
            width: 100%;
            table-layout: fixed;
        }
        .content td
        {
            vertical-align: middle;
            padding:0 0px 0 0px;
            color: black;
        }
        .content td.head
        {
            vertical-align: middle;
            color: grey;
        }
        td.trn
        {
            vertical-align: middle;
            padding:0 10px 0 5px;
            color: grey;
        }
        td.number
        {
            vertical-align: middle;
            font-size: small;
            color: grey;
        }
        td[irr]
        {
{#            display: inline;#}
        }
    </style>

    <div id="controlid" style="border: thin solid grey">
                <div class="ctl"><span>inf:</span><input type="checkbox" id="infid" checked onclick="repaint()"></div>
                <div class="ctl"><span>pas:</span><input type="checkbox" id="pasid" checked onclick="repaint()"></div>
                <div class="ctl"><span>prf:</span><input type="checkbox" id="prfid" checked onclick="repaint()"></div>
                <div class="ctl"><span>rus:</span><input type="checkbox" id="rusid" checked onclick="repaint()"></div>
                <div class="ctl"><span>loop:</span><input type="checkbox" id="loopid" checked onclick="repaint()"></div>
                <div class="ctl"><span>scroll:</span><input type="checkbox" id="scrollid" onclick="repaint()"></div>
                <div class="ctl"><span>example:</span><input type="checkbox" id="exampleid" onclick="repaint()"></div>
                <div class="ctl"><span>delay:&nbsp;</span><select id="delayid" onclick="repaint()">
                    <option value="0">0 sec</option>
                    <option value="1">1 sec</option>
                    <option value="2">2 sec</option>
                </select>
                </div>
                <div class="ctl">
                    &nbsp;&nbsp;&nbsp;total:
                    <input id="50id" type="radio" name="length" checked onclick="recreate()">50
                    <input id="100id" type="radio" name="length" onclick="recreate()">100
                    <input id="150id" type="radio" name="length" onclick="recreate()">150
                </div>
                <div class="ctl">
                    &nbsp;&nbsp;&nbsp;section:
                    <input id="group1id" type="radio" style="display:inline;" name="group" checked onclick="repaint()">10
                    <input id="group2id" type="radio" style="display:inline;" name="group" onclick="repaint()">25
                    <input id="group3id" type="radio" style="display:inline;" name="group" onclick="repaint()">50
                </div>
                <div class="ctl">
                    &nbsp;&nbsp;&nbsp;<input id="modeid" type="button" checked onclick="save(this)" mode='view' value="Edit">
                    <input id="saveid" type="button" checked onclick="save(this)" mode='save' value="Save">
                </div>
                <div id="navigateid" class="ctl" align="center" style="display: block"></div>
    </div>

    <div id="playAll"></div>
    <table id="table1" cellpadding="0" cellspacing="0" class='content'>
        <tr>
            <td class="head"></td>
            <td class="head"></td>
            <td class="head" colspan="2" irr="inf">infinitive</td>
            <td class="head" colspan="2" irr="pas">past</td>
            <td class="head" colspan="2" irr="prf">perfect</td>
            <td class="head" colspan="2" irr="rus">translation</td>
        </tr>
    </table>

    <script>
        SettingsSingleton.getInstance().init('settings_irregular', createSettings);

        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                load('view');
            }
        }
        function save(self) {
            let mode = self.getAttribute('mode');
            let url = '/eng/irregular/{{ user_id }}/?dir=save';
            if (mode == 'save') {
                SettingsSingleton.getInstance().recreate();
                SettingsSingleton.getInstance().saveToServer(url, function () {});
            } else if (mode == 'edit') {
                self.setAttribute('mode', 'view')
                self.value = 'Edit'
                SettingsSingleton.getInstance().recreate();
                SettingsSingleton.getInstance().saveToServer(url, function () {
                    clearElement("table1");
                    clearElement("playAll");
                    load();
                });
            } else {
                self.setAttribute('mode', 'edit')
                self.value = 'View'
                clearElement("table1");
                clearElement("playAll");
                load();
            }
        }
        function load() {
                let startImgName = "{% static 'english/img/play-start.png' %}";
                let stopImgName = "{% static 'english/img/play-stop.png' %}";
                let settings_url = '/eng/irregular/{{ user_id }}/?dir=read';
                var urls = {
                    i50: new Context("{{ i50_meta_sound_url }}", "{{ i50_example_sound_url }}", "{{ i50_url }}"),
                    i100: new Context("{{ i100_meta_sound_url }}", "{{ i100_example_sound_url }}", "{{ i100_url }}"),
                    i150: new Context("{{ i150_meta_sound_url }}", "{{ i150_example_sound_url }}", "{{ i150_url }}"),
                }
                SettingsSingleton.getInstance().readFromServer(settings_url, function () {
                    SettingsSingleton.getInstance().get().mode = document.getElementById('modeid').getAttribute('mode');
                    SettingsSingleton.getInstance().save();
                    initControls();
                    loadPage(urls, startImgName, stopImgName, function() {
                        createPageNavigation("navigateid", repaint);
                    });
                })
        }

        function repaint() {
            SettingsSingleton.getInstance().recreate();
            createPageNavigation("navigateid", repaint);
            showContent()
        }

        function recreate() {
            SettingsSingleton.getInstance().recreate();
            clearElement("table1");
            clearElement("playAll");
            createPageNavigation("navigateid", repaint);
            createPage()
            showContent()
        }

        function createSettings() {
            let mode = document.getElementById('modeid').getAttribute('mode');
            let el = document.querySelector('input[name=page_navigation]:checked');
            let range_of_verbs_index = el == null ? 0 : parseInt(el.value);
            let settings = {
                id: 'settings_irregular',
                mode: mode,
                excludes: {},
                is_inf: document.getElementById('infid').checked,
                is_pas: document.getElementById('pasid').checked,
                is_prf: document.getElementById('prfid').checked,
                is_rus: document.getElementById('rusid').checked,
                total_of_verbs: document.getElementById('50id').checked
                        ? 50
                        : document.getElementById('100id').checked
                            ? 100
                            : document.getElementById('150id').checked
                                ? 150
                                : 50,
                range_of_verbs: document.getElementById('group1id').checked
                        ? 10
                        : document.getElementById('group2id').checked
                            ? 25
                            : document.getElementById('group3id').checked
                                ? 50
                                : 25,
                range_of_verbs_index: range_of_verbs_index,
                loop: document.getElementById("loopid").checked ? 100 : 0,
                delay: document.getElementById("delayid").selectedIndex,
                scroll: document.getElementById("scrollid").checked,
                example: document.getElementById("exampleid").checked
            }
            var els = document.querySelectorAll("input[identity]:checked");
            [].forEach.call(els, function(el) {
                let id = el.getAttribute('identity')
                settings.excludes[id] = 1
            });
            return settings;
        }

        function initControls() {
            let settings = SettingsSingleton.getInstance().get();
            document.getElementById('infid').checked = settings.is_inf;
            document.getElementById('pasid').checked = settings.is_pas;
            document.getElementById('prfid').checked = settings.is_prf;
            document.getElementById('rusid').checked = settings.is_rus;
            switch (settings.total_of_verbs) {
                case 50: document.getElementById('50id').checked = true; break;
                case 100: document.getElementById('100id').checked = true; break;
                case 150: document.getElementById('150id').checked = true; break;
            }
            switch (settings.range_of_verbs) {
                case 10: document.getElementById('group1id').checked = true; break;
                case 25: document.getElementById('group2id').checked = true; break;
                case 50: document.getElementById('group3id').checked = true; break;
            }
            document.getElementById("loopid").checked = settings.loop > 0;
            document.getElementById("delayid").selectedIndex = settings.delay;
            document.getElementById("scrollid").checked = settings.scroll;
            document.getElementById("exampleid").checked = settings.example;
        }
    </script>

{% endblock %}