{% extends 'topic.html' %}
{% block content %}
    {% load static %}
    <script src="{% static "english/js/sound.js" %}?q=1"></script>
    <script src="{% static "english/js/ui.js" %}?q=1"></script>
    <script src="{% static "english/js/irregular.js" %}?q=1"></script>
    <div align="center"><b>{{ title }}</b></div>
    <style type="text/css">
        .ctl {
            display: inline-block;
            font-size: small;
            font-weight: bold;
            color: darkslategray;
        }
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
        }
        table[__subtable] td {
            border: none;
        }
        table[__subtable] td {
            border: 1px solid lightgray;
            border-collapse: collapse;
            background: linen;
        }
        td[__header='1'] {
            background: lightgray;
        }
        #loading{
            width:100%;
            height:100%;
            position:fixed;
            z-index:9999;
            background:url({% static "english/img/loading.gif" %}) no-repeat center center rgba(255,255,255,0.25)
        }
    </style>
    <div id="loading" style="visibility: hidden"></div>
    <div id="controlid" style="border: thin solid grey">
        <div class="ctl"><span>inf:</span><input type="checkbox" id="infid" checked onclick="repaintHideColumns()"></div>
        <div class="ctl"><span>pas:</span><input type="checkbox" id="pasid" checked onclick="repaintHideColumns()"></div>
        <div class="ctl"><span>prf:</span><input type="checkbox" id="prfid" checked onclick="repaintHideColumns()"></div>
        <div class="ctl"><span>rus:</span><input type="checkbox" id="rusid" checked onclick="repaintHideColumns()"></div>
        <div class="ctl"><span>loop:</span><input type="checkbox" id="loopid" checked onclick="repaintLoop()"></div>
        <div class="ctl"><span>scroll:</span><input type="checkbox" id="scrollid" onclick="repaintScroll()"></div>
        <div class="ctl"><span>example:</span><input type="checkbox" id="exampleid" onclick="repaintExample()"></div>
        <div class="ctl"><span>delay:&nbsp;</span><select id="delayid" onclick="repaintDelay()">
            <option value="0">0 sec</option>
            <option value="1">1 sec</option>
            <option value="2">2 sec</option>
        </select>
        </div>
        <div class="ctl">
            &nbsp;&nbsp;&nbsp;phonetic:
            <input id="amid" type="radio" name="phonetic" checked onclick="recreate()">am
            <input id="brid" type="radio" name="phonetic" onclick="recreate()">br
        </div>
        <div class="ctl">
            &nbsp;&nbsp;&nbsp;total:
            <input id="50id" type="radio" name="length" checked onclick="recreate()">50
            <input id="100id" type="radio" name="length" onclick="recreate()">100
            <input id="150id" type="radio" name="length" onclick="recreate()">150
        </div>
        <div class="ctl">
            &nbsp;&nbsp;&nbsp;section:
            <input id="group1id" type="radio" style="display:inline;" name="group" checked onclick="recreatePage()">10
            <input id="group2id" type="radio" style="display:inline;" name="group" onclick="recreatePage()">25
            <input id="group3id" type="radio" style="display:inline;" name="group" onclick="recreatePage()">50
        </div>
        <div class="ctl">
            &nbsp;&nbsp;&nbsp;<input id="modeid" type="button" checked onclick="save(this)" mode='view' value="Edit">
            <input id="saveid" type="button" checked onclick="save(this)" mode='save' value="Save">
        </div>
        <div id="navigateid" class="ctl" align="center" style="display: block"></div>
    </div>
    <div id="container"></div>
    <script>
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                let extImg = "{% static 'english/img/plus.png' %}";
                let collImg = "{% static 'english/img/minus.png' %}";
                let playStartImg = "{% static 'english/img/play-start.png' %}";
                let playStopImg = "{% static 'english/img/play-stop.png' %}";
                URLHelper.setUserId({{ user_id }});

                UITools.showLoading();
                VerbSingleton.getInstance().readFromServer(URLHelper.getRVerbUrl(), function () {
                    SettingsSingleton.getInstance().readFromServer(URLHelper.getRSettingUrl(), function () {
                        SettingsSingleton.getInstance().get().mode = document.getElementById('modeid').getAttribute('mode');
                        SettingsSingleton.getInstance().save();
                        initControls();
                        loadJson('{{ irregular_url }}', function (response) {
                            loadPage(response, extImg, collImg, playStartImg, playStopImg, function () {
                                UITools.hideLoading();
                            })
                        });
                    })
                });
            }
        }
    </script>
{% endblock %}