{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <table align="center">
        <tr>
            <td style="width: 30%"></td>
            <td>
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </td>
            <td style="width: 30%"></td>
        </tr>
    </table>
{% endblock %}
